$frame-width: 318px;
$frame-height: 668px;
$frame-border-width: 9px;
$frame-border-radius: 59px;

#frame {
  box-sizing: border-box;
  width: $frame-width;
  height: $frame-height;
  border: $frame-border-width solid $black-90;
  background: white;
  border-style: solid;
  border-radius: $frame-border-radius;
  margin: auto;
  position: relative;
  box-shadow: 0px 10px 45px rgba(0, 0, 0, 0.1);

  &::after,
  &::before {
    content: "";
    background-color: $black-90;
    border-radius: 30px;
    display: block;
    position: absolute;
    left: -14px;
    width: 12px;
    height: 48px;
  }

  &::after {
    top: 90px;
  }

  &::before {
    top: 140px;
  }
}

#frame-content {
  box-sizing: border-box;
  border-radius: $frame-border-radius - $frame-border-width;
  overflow: hidden;
  background: white;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  #close-panel {
    width: 100%;
    height: 140px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 8px 16px;

    button {
      margin: auto;
    }
  }
}
