.icon {
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.icon--gear {
  background-image: url("./assets/gear.svg");
}

.icon--arrow-down {
  background-image: url("./assets/arrow-down.svg");
}

.icon--close {
  background-image: url("./assets/close.svg");
}
