body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  background: $black-5;
  box-sizing: border-box;
  font-family: $main-typeface;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.layout-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 420px;
  grid-template-rows: auto 60px;
}

#device {
  display: flex;
  align-content: center;
  grid-column: 2;
  grid-row: 1;
}

.instructions-section {
  overflow: auto;
  grid-row: 1;
  grid-column: 1;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
}

.instructions-container {
  min-height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 15px 10px 0px 30px;
}

.action-bar {
  flex-grow: 0;
  padding: 8px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
  border-top: 1px solid $black-20;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}

#action-text {
  flex-grow: 1;
  text-align: center;
}

#action-text.loading {
  opacity: 0.5;
}
