.log-entry {
  overflow-wrap: break-word;
  max-width: 100%;
  font-size: 0.865rem;
  color: $black-70;
  margin-bottom: 15px;
  padding: 7px 20px 7px 45px;
  background-repeat: no-repeat;
  background-color: white;
  background-position: 16px center;
  background-size: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.03);
  animation: log-add 0.3s ease-out 1;
}

@keyframes log-add {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.instruction {
  border-radius: 4px;
  background-image: url("./assets/message.svg");
}

.action {
  color: #702bf5;
  border-radius: 32px;
  background-image: url("./assets/triangle.svg");
}

.error {
  background-image: url("./assets/error.svg");
  border-radius: 4px;
  color: $red;
}

.detail {
  align-self: stretch;
  background-color: #4d556d;
  padding: 0;
  border-radius: 4px;
  overflow: hidden;
  margin-left: 20px;
  color: white;
}

.detail-title {
  font-size: 0.865rem;
  background-color: #474e62;
  background-repeat: no-repeat;
  background-position: 16px center;
  padding: 9px;
  padding-left: 45px;
}

.incoming .detail-title {
  background-image: url("./assets/arrow-left.svg");
}

.outgoing .detail-title {
  background-image: url("./assets/arrow-right.svg");
}

.informational .detail-title {
  padding-left: 20px;
}

.detail-body {
  padding: 16px;
}

.renderjson {
  font-family: $mono-typeface;
  margin: 0;
  overflow: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
}

.renderjson a {
  color: white;
}

.disclosure:first-child {
  display: none;
}
