/* Typography */

$main-typeface: suisse, sans-serif;
$mono-typeface: suisse-mono, suisse, sans-serif;

/* Colors */

$green: #00aa46;
$purple: #7d00ff;
$bright-purple: #9026ff;
$red: #da2038;
$muted-purple: #debeff;
$dark-bluish-gray: #464e64;
$bluish-gray: #4d556d;
$bluish-gray: #4d556d;
$light-yellow: #fbfaf7;

$black-100: #000000;
$black-90: #1e1e1e;
$black-70: #4a4a49;
$black-60: #666666;
$black-50: #888888;
$black-20: #cccccc;
$black-5: #f2f2f2;
