#action-button {
  border-radius: 200px;
  color: white;
  outline: transparent;
  border: none;
  font-size: 16px;
  background-color: var(--purple);
  padding: 12px 48px;
  background-image: url("../assets/next-arrow.svg");
  background-position: 16px center;
  background-repeat: no-repeat;
}

#action-button:not(.loading) {
  animation: pulse 1.5s infinite;
  animation-delay: 1s;
}

#action-button:hover {
  animation: none;
  cursor: pointer;
}

#action-button.loading {
  background: var(--muted-purple);
}

#config-button {
  border: 2px solid var(--purple);
  border-radius: 100px;
  height: 30px;
  background-color: white;
  color: var(--purple);
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0px rgba(125, 0, 255, 0.5);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(125, 0, 255, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0px rgba(125, 0, 255, 0);
  }
}
