#action-button {
  border-radius: 200px;
  color: white;
  outline: transparent;
  border: none;
  font-size: 16px;
  background-color: var(--purple);
  padding: 12px 48px;
  background-image: url("../assets/next-arrow.svg");
  background-position: 16px center;
  background-repeat: no-repeat;
}

#action-button:not(.loading) {
  animation: pulse 1.5s infinite;
  animation-delay: 1s;
}

#action-button:hover {
  animation: none;
  cursor: pointer;
}

#action-button.loading {
  background: var(--muted-purple);
}

#config-button {
  border: 2px solid var(--purple);
  border-radius: 100px;
  height: 30px;
  background-color: white;
  color: var(--purple);
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0px rgba(125, 0, 255, 0.5);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(125, 0, 255, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0px rgba(125, 0, 255, 0);
  }
}

.button {
  display: inline-block;
  text-align: center;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 1rem;
  background-color: var(--purple);
  color: white;
  border-radius: 100px;
  padding: 14px 40px 12px 40px;
  transition: all 0.2s ease-out;
}

.button:hover {
  background: var(--bright-purple);
}

.button--ghost {
  background-color: transparent;
  color: var(--black-70);
  border: 2px solid var(--black-20);
}

.button--ghost:hover {
  color: var(--black-90);
  background-color: transparent;
  border-color: var(--black-70);
}
