:root {
  --green: #00AA46;  
  --purple: #7d00ff;
  --bright-purple: #9026FF;
  --red: #DA2038;
  --muted-purple: #DEBEFF;
  --dark-bluish-gray: #464E64;
  --bluish-gray: #4D556D;
  --bluish-gray: #4D556D;

  --black-100: #000000;
  --black-90: #1E1E1E;
  --black-70: #4A4A49;
  --black-60: #666666;
  --black-50: #888888;
  --black-20: #CCCCCC;
  --black-5: #F2F2F2;
}
