#config-panel {
  /* position: fixed;
  bottom: 32px;
  right: 32px;
  padding: 8px;
  width: 256px;

  background: white;
  border: 1px solid black;
  box-shadow: 2px 2px 0px black;
  display: none;
  box-sizing: border-box; */
}

#config-panel.visible {
  /* display: block; */
}

.config-group {
  margin-top: 8px;
}

.config-group label {
  display: block;
  font-size: 12px;
}

.config-group input {
  padding: 4px;
  width: 90%;
}

#close-button {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
}
