#frame {
  box-sizing: border-box;
  width: 318px;
  height: 668px;
  border: 9px solid var(--black-90);
  background: white;
  border-style: solid;
  border-radius: 59px;
  margin: auto;
  position: relative;
  box-shadow: 0px 10px 45px rgba(0, 0, 0, 0.1);
}

#frame::after,
#frame::before {
  content: "";
  background-color: var(--black-90);
  border-radius: 30px;
  display: block;
  position: absolute;
  left: -14px;

  width: 12px;
  height: 48px;
}

#frame::after {
  top: 90px;
}
#frame::before {
  top: 140px;
}

#frame-content {
  box-sizing: border-box;
  border-radius: 50px;
  overflow: hidden;
  background: white;
  width: 100%;
  height: 100%;
}
