body,
html {
  margin: 0;
  font-family: suisse, sans-serif;
  width: 100%;
  height: 100%;
  background: var(--black-5);
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-columns: auto 420px;
  grid-template-rows: auto 60px;
}

#device {
  display: flex;
  align-content: center;
  grid-column: 2;
  grid-row: 1;
}

.instructions-section {
  overflow: auto;
  grid-row: 1;
  grid-column: 1;
}

.instructions-container {
  min-height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 15px 30px 0px 30px;
}

.action-bar {
  flex-grow: 0;
  padding: 8px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
  border-top: 1px solid var(--black-20);
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#action-text {
  flex-grow: 1;
  text-align: center;
}

#action-text.loading {
  opacity: 0.5;
}