.log-entry {
  font-size: 0.865rem;
  color: var(--black-70);
  margin-bottom: 15px;
  padding: 7px;
  padding-left: 45px;
  background-repeat: no-repeat;
  background-color: white;
  background-position: 16px center;
  background-size: 16px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.03);
  overflow: hidden;
}

.instruction {
  border-radius: 8px;
  background-image: url("../assets/message.svg");
}

.action {
  color: #702bf5;
  border-radius: 32px;
  background-image: url("../assets/triangle.svg");
}

.error {
  border-radius: 8px;
}

.detail {
  background-color: #4d556d;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 32px;
  margin-right: 32px;
  color: white;
}

.detail-title {
  background-image: url("../assets/arrow-left.svg");
  background-color: #474e62;
  background-repeat: no-repeat;
  background-position: 24px center;
  background-size: 24px;
  padding: 16px;
  padding-left: 64px;
}

.incoming .detail-title {
  background-image: url("../assets/arrow-left.svg");
}

.outgoing .detail-title {
  background-image: url("../assets/arrow-right.svg");
}

.informational .detail-title {
  background-image: url("../assets/message.svg");
}

.detail-body {
  padding: 16px;
}

.renderjson {
  overflow: scroll;
}

.renderjson a {
  color: white;
}

.disclosure:first-child {
  display: none;
}
