.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-out;
}

.modal.visible {
  visibility: visible;
  opacity: 1;
  pointer-events: inherit;
}

.modal.visible::before {
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.modal::before {
  content: "";
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.modal__window {
  position: relative;
  padding: 35px 50px 20px 50px;
  min-width: 650px;
  background: var(--light-yellow);
  border-radius: 5px;
  z-index: 11;
  transform: translate(0, -100px);
  opacity: 0;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.modal.visible .modal__window {
  opacity: 1;
  transform: translate(0, -50px);
}

.modal__close {
  position: absolute;
  right: 10px;
  top: 10px;
}

.modal__title {
  margin: 0;
}

.modal__body {
  padding-top: 35px;
}

.modal__footer {
  border-top: 1px solid var(--black-20);
  display: flex;
  align-items: row;
  justify-content: flex-end;
  margin-top: 40px;
  padding-top: 20px;
  text-align: center;
}

.modal__footer > * {
  margin-left: 20px;
}
