@import "./styles/colors.css";
@import "./styles/buttons.css";
@import "./styles/device.css";
@import "./styles/logs.css";
@import "./styles/layout.css";
@import "./styles/modal.css";
@import "./styles/form.css";
@import "./styles/icon.css";

@font-face {
  font-display: block;
  font-family: suisse;
  src: url("./assets/fonts/suisseintl-regular-webfont.woff") format("woff"),
    url("./assets/fonts/suisseintl-regular-webfont.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-family: suisse;
  font-style: italic;
  src: url("./assets/fonts/suisseintl-regularitalic-webfont.woff")
      format("woff"),
    url("./assets/fonts/suisseintl-regularitalic-webfont.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-family: suisse-mono;
  src: url("./assets/fonts/suisseintlmono-regular-webfont.woff") format("woff"),
    url("./assets/fonts/suisseintlmono-regular-webfont.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-display: block;
  font-family: suisse;
  src: url("./assets/fonts/suisseintl-semibold-webfont.woff") format("woff"),
    url("./assets/fonts/suisseintl-semibold-webfont.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-family: suisse;
  font-style: italic;
  src: url("./assets/fonts/suisseintl-semibolditalic-webfont.woff")
      format("woff"),
    url("./assets/fonts/suisseintl-semibolditalic-webfont.woff2")
      format("woff2");
  font-weight: 500;
}

#PUBNET-disclaimer {
  font-size: 0.875rem;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--red);
  color: white;
  padding: 8px 16px;
  display: none;
}

#PUBNET-disclaimer.visible {
  display: block;
}

iframe {
  border: 0;
}

::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}
