body,
html {
  margin: 0;
  font-family: inconsolata, sans-serif;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#instructions-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: hidden;
}

#device-section {
  flex-grow: 0;
  min-width: 420px;
  width: 420px;
  background: #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: flex;
  align-content: center;
}

#frame {
  width: 300px;
  height: 600px;
  border-width: 26px 10px;
  background: black;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  margin: auto;
}

#frame-content {
  border-width: 20px 10px;
  border-radius: 10px;
  background: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#empty-space {
  flex-grow: 1;
}

#action-bar {
  flex-grow: 0;
  padding: 8px;

  border-top: 2px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#action-text {
  flex-grow: 1;
  text-align: center;
}

.bar-button {
  display: block;
  flex-grow: 0;
  border-radius: 8px;

  padding: 8px;
}

#container {
  flex-grow: 0;
  padding: 8px;
  overflow: scroll;
}

.instruction {
  color: #28b463;
  margin-bottom: 8px;
}

.error {
  color: red;
  margin-bottom: 8px;
  margin-left: 16px;
}

.instruction::before {
  content: "> ";
}

.log {
  margin-bottom: 8px;
  margin-left: 16px;
  font-size: 14px;
  white-space: pre;
}

.renderjson {
  margin-left: 16px;
  margin-bottom: 8px;
}

.disclosure:first-child {
  display: none;
}

iframe {
  border: 0;
}

#embed-frame {
  position: fixed;
  bottom: 0;
  right: 80px;
}
#embed-frame.appear {
  animation: fadein 0.3s;
}

#embed-frame.disappear {
  animation: fadeout 0.3s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(30px);
  }
}

#config-panel {
  position: fixed;
  bottom: 32px;
  left: 32px;
  padding: 8px;
  width: 256px;

  background: white;
  border: 1px solid black;
  box-shadow: 2px 2px 0px black;
  display: none;
  box-sizing: border-box;
}

#config-panel.visible {
  display: block;
}

.config-group {
  margin-top: 8px;
}

.config-group label {
  display: block;
  font-size: 12px;
}

.config-group input {
  padding: 4px;
  width: 90%;
}

#close-button {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
}
