@import "./styles/buttons.css";
@import "./styles/config-panel.css";
@import "./styles/device.css";
@import "./styles/logs.css";
@import "./styles/layout.css";

#mainnet-disclaimer {
  position: fixed;
  background: red;
  color: white;
  padding: 16px;
  display: none;
}

#mainnet-disclaimer.visible {
  display: block;
}

iframe {
  border: 0;
}
