@import "./styles/variables";

@font-face {
  font-display: block;
  font-family: suisse;
  src: url("../src/assets/fonts/suisseintl-regular-webfont.woff") format("woff"),
    url("../src/assets/fonts/suisseintl-regular-webfont.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-family: suisse;
  font-style: italic;
  src: url("./assets/fonts/suisseintl-regularitalic-webfont.woff")
      format("woff"),
    url("./assets/fonts/suisseintl-regularitalic-webfont.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-family: suisse-mono;
  src: url("./assets/fonts/suisseintlmono-regular-webfont.woff") format("woff"),
    url("./assets/fonts/suisseintlmono-regular-webfont.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-display: block;
  font-family: suisse;
  src: url("./assets/fonts/suisseintl-semibold-webfont.woff") format("woff"),
    url("./assets/fonts/suisseintl-semibold-webfont.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-family: suisse;
  font-style: italic;
  src: url("./assets/fonts/suisseintl-semibolditalic-webfont.woff")
      format("woff"),
    url("./assets/fonts/suisseintl-semibolditalic-webfont.woff2")
      format("woff2");
  font-weight: 500;
}

html,
body {
  font-family: $main-typeface;
  background: white;
  height: 100%;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  user-select: none;
}

.container {
  padding: 0px 20px;
}

h1 {
  font-size: 1.75rem;
  font-weight: 500;
  color: $black-100;
  margin: 0;
}

h2 {
  color: $black-50;
  text-transform: uppercase;
  font-size: 0.9375rem;
  font-weight: 400;
  margin: 0;
}

/* Header */

.header {
  padding: 40px 20px 30px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__icon {
  position: relative;
  width: 30px;
  height: 18px;
  padding-right: 20px;
}

.hamburger-icon,
.hamburger-icon::before,
.hamburger-icon::after {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: $black-100;
  border-radius: 9px;
}

.hamburger-icon::before {
  top: 7px;
}

.hamburger-icon::after {
  top: 14px;
}

/* Tabs */

.tabs {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.tabs__item {
  flex-grow: 1;
  text-align: center;
  padding: 4px 10px;
  border-radius: 50px;
  font-weight: 500;
  color: $black-60;

  &.is-selected {
    background-color: $purple;
    color: white;
  }
}

/* Card */

.card {
  background-color: $black-5;
  padding: 15px;
  border-radius: 6px;
}

.card-title {
  padding-left: 5px;
  padding-bottom: 4px;
}

.card--balance {
  padding: 20px 30px 20px 30px;
  margin-bottom: 20px;
}

/* Balance */

.balance__value {
  padding-top: 5px;
  font-size: 28/16 + rem;
  color: $purple;
  font-weight: 500;
  display: inline-block;
}

.balance__decimals {
  font-size: 18/16 + rem;
  color: $purple;
  font-weight: 500;
  display: inline-block;
}

.balance__token-info {
  font-size: 1rem;
  color: $black-70;
  font-weight: 500;
}

/* Buttons */

.button {
  border: none;
  box-sizing: border-box;
  display: block;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1rem;
  background-color: $purple;
  color: white;
  width: 100%;
  border-radius: 100px;
  padding: 11px 20px;
  transition: all 0.3s ease-out;

  &.loading {
    background: $muted-purple;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem $muted-purple;
  }

  &:disabled {
    opacity: 0.5;
  }

  &:enabled {
    cursor: pointer;
  }

  &:hover:enabled {
    background: $bright-purple;
    transform: scale(1.05);
  }
}

.button--outline {
  background-color: white;
  color: $purple;
  border: 2px solid $purple;
  padding: 9px 16px;

  &:disabled {
    opacity: 0.3;
  }
}

/* Wallet page */

.actions {
  margin-bottom: 40px;
}

.actions__row {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .button {
    width: 48%;
  }
}

.actions__secondary {
  .button {
    display: inline-block;
  }
}

.transactions__list {
  margin-top: 10px;
}

.transaction {
  cursor: pointer;
  padding: 10px 5px 10px 10px;
  border-bottom: 1px solid $black-5;
  display: flex;
  align-items: center;
  border-radius: 4px;
  transition: all 0.25s ease-out;

  &:hover {
    border-color: transparent;
    transform: scale(1.05);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  &:active {
    transform: scale(1.03);
    background-color: $black-5;
  }

  &:last-child {
    border-bottom: none;
  }
}

.transaction__status-icon {
  flex-grow: 0;
  display: block;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  background-position: center;
  background-repeat: no-repeat;

  .transaction--pending & {
    background-image: url("./assets/clock.svg");
  }

  .transaction--success & {
    background-image: url("./assets/check.svg");
  }

  .transaction--canceled & {
    background-image: url("./assets/canceled.svg");
  }
}

.transaction__details {
  flex-grow: 1;
}

.transation__type {
  color: $black-90;
  font-size: 13/16 + rem;
  padding-bottom: 3px;
}

.transaction__status {
  color: $black-60;
  font-size: 12/16 + rem;
}

.transaction__value {
  flex-grow: 1;
}

.transaction__amount {
  color: $black-100;
  font-size: 13/16 + rem;
  font-weight: 500;
  text-align: right;
  padding-bottom: 3px;
}

.transaction_token {
  color: $black-70;
  font-size: 12/16 + rem;
  text-align: right;
}

.transation__chevron-icon {
  flex-grow: 0;
  display: block;
  margin-left: 10px;
  width: 9px;
  height: 9px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./assets/chevron-right.svg");
}

/* Confirmation page */

.sending-value-card {
  margin-bottom: 40px;
}

.sending-address-card {
  margin-bottom: 40px;
}

.sending-value {
  font-size: 1.5625rem;
  font-weight: 500;
  padding-right: 5px;
  display: inline-block;
}

.sending-token-info {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 500;
}

.sending-key {
  font-family: $mono-typeface;
  margin-bottom: 8px;
}

.sending-anchor-domain {
  color: $green;
  font-size: 0.875rem;
  background-image: url("./assets/padlock.svg");
  background-repeat: no-repeat;
  background-position: 0px center;
  padding-top: 2px;
  padding-left: 20px;
}

.send-confirmation-buttons {
  .active {
    margin-bottom: 25px;
  }
}

/* Receipt page */

.success {
  text-align: center;
  margin: 90px 0 40px 0;
}

.success__icon {
  margin-bottom: 10px;
}

.success__title {
  font-size: 28/16 + rem;
  color: $black-100;
  font-weight: 500;
}

.reference {
  text-align: center;
  padding: 10px 0;
}

.reference-text {
  font-size: 14/16 + rem;
  font-weight: 500;
  color: $black-70;
  padding-bottom: 12px;
}

.reference-number {
  color: $black-100;
  display: block;
  font-family: $mono-typeface;
  font-size: 24/16 + rem;
}

.receipt-buttons {
  margin-top: 45px;
}
